@layer layout {
  /* Center*/
  .l-center {
    display: block;
    box-sizing: content-box;
    margin-inline: auto;
    max-inline-size: var(--measure, 65ch);
    padding-inline: var(--space, 1rem);
  }

  /* Cluster*/
  .l-cluster > * {
    margin: 0;
  }

  .l-cluster {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space, 1rem);
  }

  /* Cover */
  .l-cover {
    display: flex;
    flex-direction: column;
    min-block-size: 100vh;
    padding: var(--space, 1rem);
  }

  .l-cover > * {
    margin-block: 1rem;
  }

  .l-cover > .l-cover__centered {
    margin-block: auto;
  }

  .l-cover > :first-child:not(.l-cover__centered) {
    margin-block-start: 0;
  }

  .l-cover > :last-child:not(.l-cover__centered) {
    margin-block-end: 0;
  }

  /* Stack */
  .l-stack {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    --gap: var(--space-m, 1rem);
    gap: var(--gap);
  }
}
