---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout>
  <main class="grid place-items-center min-h-dvh">
    <h1 class="text-4xl text-blue-500 font-aspekta">Holy Trinity</h1>
  </main>
</BaseLayout>
