@layer layout.macro {
  /* Describe this thang good */
  .l-center {
    max-width: 64em;
    width: 86vw;
    margin-inline: auto;
  }

  /* Describe this thang good */
  .l-grid {
    display: grid;
    grid-template-columns: repeat(4, 300px);
  }
}
